.doctor/
.data/
node_modules/
api/manifest/config/config.yaml
web/node_modules/
web/.nuxt/
web/.nuxt-instances/
web/.output/
web/.turbo/
web/test-results/
web/playwright-report/
web/*.log
.impeccable/qa/
